*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
}
.weatherInput{
    width: 25%;
    position: fixed;
    inset: 0;
    background: #9672FB;
    padding: 1rem;
}
.inputGrp{
    position: relative;
    display: flex;
    align-items: center;
    margin: 1rem;
}
.inputGrp input{
    background: #fff;
    text-transform: capitalize;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 100%;
    border: none;
    outline: none;
}
.inputGrp .tempUnit{
    position: absolute;
    right: 3.5rem;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
}
.inputGrp .fa-search{
    position: absolute;
    right: 1rem;
    color: black;
    cursor: pointer;
    font-size: 2rem;
}
.weatherOutput{
    margin-left: 25%;
    width: 75%;
    position: absolute;
    inset: 0;
    padding: 2rem;
    background-color: #EBE8F0;
    overflow: auto;
}
.highlights{
    display: grid;
    grid-template-columns: repeat(3,20rem);
    grid-auto-flow: row;
    row-gap: 2rem;
    column-gap: 3.5rem;
    padding-top: 1rem;
}
.highlights div{
    height: 15rem;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    background: #9672FB;
}
.highlights i{
    font-size: 3rem;
}
.sun span{
    display:flex;
    align-items: center;
    gap: 1rem;
}